<div class="footer">
  <div class="footer-content">
    <ul class="first">
      <a href=""><li>Audio and Subtitles</li></a>
      <a href=""><li>Media Center</li></a>
      <a href=""><li>Privacy</li></a>
      <a href=""><li>Contact Us</li></a>
    </ul>
    <ul class="second">
      <a href=""><li>Audio Description</li></a>
      <a href=""><li>Investor Relations</li></a>
      <a href=""><li>Legal Notices</li></a>
    </ul>
    <ul class="third">
      <a href=""><li>Help Center</li></a>
      <a href=""><li>Jobs</li></a>
      <a href=""><li>Cookie Preferences</li></a>
    </ul>
    <ul class="fourth">
      <a href=""><li>Gift Cards</li></a>
      <a href=""><li>Terms of Use</li></a>
      <a href=""><li>Corporate information</li></a>
    </ul>
  </div>
</div>
