<div class="navigation" #scrollEl>
  <ul class="nav-main">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1280px-Netflix_2015_logo.svg.png" width="90vw" alt="Netflix_logo">
    <a style="font-weight: bold;" href=""><li>Home</li></a>
    <a href=""><li>TV Shows</li></a>
    <a href=""><li>Movies</li></a>
    <a href=""><li>Latest</li></a>
    <a href=""><li>My List</li></a>
    <a href=""><li>Watch Again</li></a>
  </ul>
  <ul class="nav-side">
    <li><i class="fas fa-search"></i></li>
    <li>KIDS</li>
    <li>DVD</li>
    <li><i class="fas fa-bell"></i></li>
  </ul>
</div>
