@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

img {
  height: 150px;
  width: 300px;
  border-radius: 3px;
  cursor: pointer;
}


/* more info  */
section {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.205);
  z-index: 8;
}
section .details {
  display: flex;
  flex-direction: column;
  width: 46%;
  height: 95%;
  background-color: rgb(24,24,24);
  overflow: hidden;
  border-radius: 5px;
}

/* top img/video */

/* header  */
.details header {
  width: 100%;
  height: 55%;
  overflow: hidden;
}
header .imgOrVideo {
  width: 100%;
  height: 100%;
}
header .imgOrVideo .close {
  position: absolute;
  top: 4%;
  margin-left: 42%;
  border-radius: 50%;
  border: 1px solid rgb(156, 155, 155);
  background-color: rgba(24,24,24,.3);
  width: 28px;
  height: 28px;
  cursor: pointer;
}

header .imgOrVideo .close:hover {
  background-color: rgba(245, 245, 245, 0.445);
  color: white;
}

header img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
  cursor: context-menu;
  object-fit:cover;
}
header .buttons {
  display: flex;
  position: absolute;
  top: 47%;
  margin-left: 35px;
  width: 100%;
}
button {
  margin-right: 5px;
}
/* play */
header .buttons .play {
  width: 110px;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
}
header .buttons .play:hover {
  background-color: rgb(24,24,24);
  color: white;
}
header .buttons .play i {
  margin-right: 5px;
}
/* plus */
header .buttons .plus, header .buttons .like, header .buttons .dislike {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid rgb(156, 155, 155);
  background-color: rgba(24,24,24,.3);
  width: 28px;
  height: 28px;
  cursor: pointer;
}

header .buttons .sound {
  margin-left: 30%;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid rgb(156, 155, 155);
  background-color: rgba(24,24,24,.3);
  width: 28px;
  height: 28px;
  cursor: pointer;
}

header .buttons .plus:hover, header .buttons .like:hover, header .buttons .dislike:hover, header .buttons .sound:hover {
  background-color: rgba(245, 245, 245, 0.445);
}

/* main  */
section .details main {
  width: 100%;
  height: 25%;
  overflow: hidden;
  display: flex;
}

/* gen and overall */
main .genOver {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
main .genOver .general .date {
  color: rgb(11, 150, 53);
  font-weight: bold;
  margin-right: 10px;
}
main .genOver .general .rate {
  color: white;
  border: 1px solid rgb(156, 155, 155);
  padding: 5px;
}

main .genOver .overview {
  color: rgb(214, 213, 213);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* castGenres */
main .castGenres {
  display: flex;
  flex-direction: column;
  width: 30%;
}

main .castGenres .cast {
  margin-top: 10px;
}

main .castGenres .cast span {
  color: rgb(124, 124, 124);
}
main .castGenres .cast p {
  display: inline;
  list-style-type: none;
  font-size: 1em;
  color: rgb(214, 213, 213);
}
main .castGenres .genres {
  margin-top: 10px;
}

main .castGenres .genres span {
  color: rgb(124, 124, 124);
}
main .castGenres .genres p {
  display: inline;
  list-style-type: none;
  font-size: 1em;
  color: rgb(214, 213, 213);
}


/* footer  */
section .details footer {
  width: 100%;
  height: 20%;
  overflow: hidden;
}

footer h2 {
  color: rgb(214, 213, 213);
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 5px;
}

footer .imgs {
  display: flex;
  justify-content: center;
}

footer .imgs img {
  width: 25%;
  height: 100px;
  margin-right: 13px;
  cursor: pointer;
}
